html * {
  font-family: 'Josefin Sans', sans-serif;
}

.container {
    margin-top: 30px;
    text-align: center;
}
.mapdiv {
    width: 1000px;
    height: 600px;
    margin: 5px auto;
}
.description { 
    width: 800px;
    height: 360px;
    margin: 5px auto;
    text-align: left;
}

.contribution {
    width: 800px;
    height: 650px;
    margin: 5px auto;
    text-align: left;
    clear: both;
}

.partner {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 100px; 
}

.partnerships{
   width: 800px;
   height: 150px;
   margin: 5px auto;
   text-align:center;
}

.explore {
    width: 100%;
    height: 400px;
    margin: 5px auto;
    text-align: left;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ce1b81;
    color: white;
    text-align: center;
    z-index: 99999;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 16px;
    background-color: #ce1b81;
    color: white;
    text-align: center;
    z-index: 99999;
}

.header a {
    float: left;
    display: block;
    color: #ce1b81;
}

.header a:hover {
  background: #eee;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: #ce1b81;
    text-align: center; 
}

.button {
    color: white;
    padding: 15px 32px;
    background-color: #ce1b81;
    font-size: 12px;
}

.button-small {
    color: white;
    padding: 6px 15px;
    background-color: #ce1b81;
    font-size: 8px;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-small:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

table{
    border-spacing: 10px;
    table-layout: fixed;
}

::slotted(td) {
    font-size: small;
    padding: 4px;
    word-wrap: break-word;
    vertical-align: middle;
}

